@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

body {
  background-color: rgb(55,55,55);
  color: rgb(240, 240, 240);
  font-family: 'Open Sans';
}

.hidden {
  display: none !important;
}

.main {
  padding: 45px;
  margin-top: 50px;
  width: 1100px;
  margin: 0 auto;

}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 132px;
  height: 132px;
  margin-top: -66px; /* Half the height */
  margin-left: -66px; /* Half the width */
}

h5 {
  margin-top: 0;
}

.cluster-browser {
  float: left;
  width: 570px;

  .scrubber {
    display: block;
    width: 560px;
  }

  .scrubber-label {
    display: inline;
    vertical-align: center;
  }

  .icon-button {
    margin: 10px;
  }
}

.cluster-list {
  float: left;
  width: 400px;
  background-color: rgb(233, 233, 233);
  color: rgb(124, 124, 124);
  margin-top: 40px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 20px;
  height: 100%;

  .list-header {
    padding-left: 20px;
  }

  .videos {
    height: 420px;
    overflow-y: scroll;
  }

  h3 {
    display: inline-block;
    margin-top: 0px;
    font-size: 24px;
    font-weight: 600;
  }

  span {
    margin-right: 5px;
  }

  .filters {
    display: inline-block;
    float:right;
    margin-top: 5px;

    .fa {
      color: black !important;
    }

  }
}

.video-thumbnail {
  margin-right: 10px;
  margin-top: 10px;
  width: 180px;
  height: 135px;
}

.controls {
  text-align: center;
}

.icon-button {
  margin: 7.5px;
}

.sidebar-item {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;

  &:hover {
    background-color: darken(#fff, 20%);
    cursor: pointer;
  }

  .sidebar-item-img {
    width: 90px;
    height: 67.5px;
    margin-right: 10px;
    float:left;
  }

  .sidebar-item-title {
    font-size: 14px;
    font-weight: 600;
  }
}
