.hidden {
  display: none !important;
}

.main {
  padding: 45px;
  padding-top: 20px;
}

.cluster-browser {
  .scrubber {
    display: block;
    width: 560px;
  }
  .scrubber-label {
    position: inherit;
    margin-top: -22px;
    margin-left:575px;
    font-size:14px;
  }
}


.video-thumbnail {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;

  .buttons {
    display: block;
    padding: 5px;
    margin-top: -30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    position: relative;
  }

  .icon-button {
    margin: 4px;
    cursor: pointer;
  }

  img {
    width: 180px;
    height: 135px;
  }
}
